@import "compass"

$background-color:  #9279a9
$font-color:  white
$font-family: "Helvetica Neue", Helvetica, Arial, sans-serif

@include global-reset

body
  font-family: $font-family
  color: $font-color
  width: 100%
  height: 100%
  background-color: $background-color

.container
  display: table-cell
  vertical-align: middle
  text-align: center

  h1
    z-index: 10
    font-size: 160px

    span
      +opacity(.5)
      font-size: 80px

.graph
  position: absolute
  top: 0
  left: 0
  fill: none
  stroke: white
